body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E4F9F5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* LOGIN PAGE */

.login-page {
  margin: auto;
  margin-top: 10%;
  text-align: center;
  width: 500px;
}

.login-form {
  padding-top: 20px;
}

.login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-btn {
  background-color: #30E3CA;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
 opacity: 0.8;
}

/* POSTS PAGE STRUCTURE */

.navbar {
  background-color: #30E3CA;
  text-align: right;
  padding: 10px 0;
  width: 100%;
}

.navbar-item {
  width: calc(100% / 5);  
  display: inline-block;
  vertical-align: top;   
  text-align: right;
}

.navbar-content {
  max-width: 1200px;
}

.page-body {
  position: flex;
  top: 20px;

}

.sidebar {
  background-color: #E4F9F5;
  min-height: 100vh;
  height: 100%;
  padding-left: 50px;
  padding-top: 20px;
  float: left;
  width: calc(25% - 50px);
  max-width: 250px;
}

.posts-body {
  background-color: #E4F9F5;
  display: inline-block;
  padding: 20px;
  font-size: 0.9rem;
  max-width: 800px;
  width: calc(75% - 40px);
}

/* BUTTONS */

.logout-btn {
  padding-right: 20px;
}

.navbar-item span {
  margin-right: 10px;
}

.search-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* AUTHORS LIST */

.authors-section table {
  padding-top: 10px;
}

.author-wrapper {
  background-color: #30E3CA;
  cursor: pointer;
}

.author-wrapper td {
 padding: 5px 10px;
}

.author-name {
  float: left;
}

.author-post-count {
  text-align: right;
  padding-right: 20px;
}

.post-wrapper {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #E4F9F5;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
}

